@font-face {
    font-family: 'proxima_nova_condensedbold';
    src: url('../fonts/ofont.ru_proxima_nova-webfont.woff2') format('woff2'),
         url('../fonts/ofont.ru_proxima_nova-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}