//colors
$color-white: #fff;
$color-light-gray: #ebebeb;
$color-gray: #dbdbdb;
$color-purple: #9f9acf;
$color-dark: #665f60;
$color-dark-purple: #8783b0;
$color-transparent-white: rgba(255, 255, 255, .5);
$color-transparent-purple: rgba(159, 154, 207, 0.3);
$color-transparent-purple-2: rgba(159, 154, 207, 0.5);


//fonts

$ptSansFont: 'PT Sans', sans-serif;
$proximaNovaFont: 'proxima_nova_condensedbold';