* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $ptSansFont;
}

h1 {
    //font-family: 'proxima_nova_condensedbold';
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
}

h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

h4 {
    font-size: 24px;
    text-transform: uppercase;
}

p {
    color: $color-dark;
}

form {
    font-style: italic;
}

input,
textarea {
    padding: 25px 0;
    font-style: italic;
    color: $color-white;
    background-color: $color-transparent-white;
    border: none;
    border-radius: 5px;
}

textarea {
    width: 80%;
    
}