* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $ptSansFont;
}

h1 {
    //font-family: 'proxima_nova_condensedbold';
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
}

h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

p {
    color: $color-dark;
}