.burger {
    display: none;
    padding: 0 15px;
    font-size: 50px;
    color: $color-white;
    background-color: $color-purple;
    border: none;
    border-radius: 5px;
}

.active-burger {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
        
}